{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <title>{{ _("关于 - Habitica 工具集") }}</title>
</head>

{% block content %}
    <br/>
    <p class="h1 text-center">{{ _("关于") }}</p>
    <br/> <br/>
    {{ _("大家好，我是Jack Wang，这是我的") }}<a href="https://jackwang.cn/">{{ _("个人主页") }}</a>
    <br/> <br/>
    {{ _("此网站托管于腾讯云Serverless，了解此项目的更多信息请点击") }}
    <a href="https://github.com/realJackWang/Habitica_ToolBox">GitHub repo</a>
    <br/><br/>
    {{ _("此网站基于此") }}<a href="https://github.com/Kirska/Habitica_ToDoOvers/"> {{ _("开源项目") }} </a>{{ _("开发。") }}
    <br/><br/>
    {{ _("如发现网站存在漏洞请点击") }}<a href="https://github.com/realJackWang/Habitica_ToolBox/issues">{{ _("此处") }}</a>
    {{ _("进行反馈") }}
    <br/><br/>
    <b>{{ _("免责声明：") }}</b>
    {{ _("本网站与Habitica官方无关，只是利用了Habitica的公开API，若网站的侵犯了你的权益，请及时告知。") }}
    <br/><br/>
    <b>{{ _("隐私说明：") }}</b>{{ _("此网站不会保存您的密码，您的 API token 会被加密存储，除了直接与 Habitica 共享外，您的信息不会与任何第三方共享。使用此工具将生成
    cookie。") }}
    <br/><br/>
{% endblock %}
