{% extends 'base.html' %}

{% block head %}
    <title>{{ _("更新日志 - Habitica 工具集") }}</title>
{% endblock %}

{% block content %}
    <p class="h1 text-center">{{ _("更新日志") }}</p>
    {% for changelog in changelogs %}
        <h4>{{ changelog[0] }}</h4>
        <ul>
            {% for changelog_sub in changelog[1] %}
                <li><span
                        class="badge badge-{{ changelog_sub[2] }}">{{ changelog_sub[0] }}</span> {{ changelog_sub[1] }}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
    <h4>未来某时（准备添加的新功能）</h4>
    <ul>
        <li><span class="badge badge-primary">Feat</span> 添加切换时区功能</li>
        <li><span class="badge badge-primary">Feat</span> 添加设置每日结束时间功能</li>
        <li><span class="badge badge-primary">Feat</span> 添加设置定期任务截止时间功能</li>
        <li><span class="badge badge-primary">Feat</span> 添加设置定期任务开始时间功能</li>
        <li><span class="badge badge-primary">Feat</span> 添加注销账户功能</li>
    </ul>
    <h4>2021/11/28</h4>
    <ul>
        <li><span class="badge badge-primary">Feat</span> 添加语言切换功能</li>
    </ul>
    <h4>2021/11/27</h4>
    <ul>
        <li><span class="badge badge-info">Refactor</span> 使用Flask-Login重构了用户登录管理</li>
        <li><span class="badge badge-dark">style</span> 使用Bootstrap对页面进行美化</li>
        <li><span class="badge badge-primary">Feat</span> 增加设置页面</li>
        <li><span class="badge badge-primary">Feat</span> 增加关于页面</li>
        <li><span class="badge badge-primary">Feat</span> 增加更新日志页面</li>
    </ul>
    <h4> 2021/11/26</h4>
    <ul>
        <li><span class="badge badge-light">Init</span> 将项目部署在腾讯云Serverless</li>
        <li><span class="badge badge-primary">Feat</span> 开通腾讯云文件存储，挂载至项目</li>
        <li><span class="badge badge-success">Fix</span> 修复部分情况下加密函数报错的问题</li>
        <li><span class="badge badge-danger">Error</span> 免费的云MySQL数据库响应太慢</li>
    </ul>
    <h4> 2021/11/25</h4>
    <ul>
        <li><span class="badge badge-info">Refactor</span> 将Habitica_ToDoOvers除网络请求部分全部用Flask重写，并成功在本地运行</li>
        <li><span class="badge badge-success">Fix</span> 修复登录后进入index页面不自动跳转到首页</li>
    </ul>

    <h4> 2021/11/24</h4>
    <ul>
        <li><span class="badge badge-light">Init</span> 开始着手将Habitica_ToDoOvers项目用Flask重写一遍</li>
    </ul>
    <h4> 2021/11/23</h4>
    <ul>
        <li><span class="badge badge-danger">Error</span> 将Habitica_ToDoOvers部署在<a href="https://pythonanywhere.com/">PythonAnywhere</a>上失败
        </li>
    </ul>
{% endblock %}
